<div
  class="card w-96 bg-base-100 shadow-xl m-auto absolute z-10"
  [style.left]="styleLeft"
  [style.top]="'50%'"
  style="padding-bottom: 35px"
>
  <figure class="px-10 pt-10">
    <img [src]="project?.coverImage" alt="Shoes" class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">{{ project?.name }}</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions">
      <button class="btn btn-primary gap-2">
        <img style="width: 3vh" src="assets/icons/github.svg" alt="" />
        Project Link
      </button>
    </div>
  </div>
</div>
