<h1 class="text-3xl font-bold flex justify-center px-4 py-16">
  Education List
</h1>
<span class="text-2xl flex justify-center px-4 m-auto">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
</span>
<div id="education" class="flex justify-center p-4">
  <ul class="menu bg-primary-focus w-1/4 p-2 rounded-box">
    <li class="menu-title">
      <span>Higher 🏫</span>
    </li>
    <li><a>B.Sc of Sofware Engineering - Neelain Unversisty</a></li>
    <li><a>MBA - X University</a></li>
    <li class="menu-title">
      <span>Primary 🎒</span>
    </li>
    <li><a>A High School</a></li>
    <li><a>Z Primary School</a></li>
  </ul>
</div>
