<h1 class="text-sm lg:text-3xl font-bold flex justify-center px-4 py-16">
  Education List
</h1>
<span class="text-2xl flex justify-center text-center px-4 m-auto">
  My Education List So Far
</span>
<div id="education" class="flex justify-center p-4">
  <ul class="menu bg-primary-focus lg:w-1/4 w-full p-2 rounded-box">
    <li class="menu-title">
      <span>Higher 🏫</span>
    </li>
    <li><a>B.Sc of Sofware Engineering - Neelain University</a></li>
    <li class="menu-title">
      <span>Primary 🎒</span>
    </li>
    <li><a>Abu tmmam High School - Saudi Arabia - Riyadh</a></li>
  </ul>
</div>
