<div portfolioGeneratorHost class="dynamic-popup"></div>

<div id="projects">
  <div class="h-52 lg:h-72">
    <h1
      class="text-sm lg:text-4xl font-bold tracking-tight sm:text-center sm:text-5xl flex justify-center items-center"
    >
      Cool Stuff I've Built This Far
    </h1>
  </div>

  <div class="flex justify-center">
    <div
      class="carousel carousel-center w-4/5 text-center relative p-4 space-x-4 bg-primary-focus rounded-box"
      #projectList
    >
      <a
        href="#slide3"
        (click)="projectList.scroll({ left: 0, behavior: 'smooth' })"
        class="btn btn-circle sticky top-1/3 left-0 btn-sm lg:btn-xl"
        >❮</a
      >

      <div
        class="carousel-item"
        *ngFor="let project of projects"
        (mouseenter)="onProjectMouseEnter($event, project)"
        [id]="project.id"
      >
        <img [src]="project.coverImage" class="rounded-box w-24 lg:w-48" />
      </div>
      <a
        (click)="
          projectList.scroll({
            left: projectList.scrollWidth,
            behavior: 'smooth'
          })
        "
        class="btn btn-circle sticky top-1/3 right-0 btn-sm lg:btn-xl"
        >❯</a
      >
    </div>
  </div>
</div>
