<div class="mockup-window border bg-primary-focus window" id="about-me">
  <h1
    class="text-sm lg:text-5xl font-bold flex justify-center px-4 py-16 bg-base-200"
  >
    Hello World
  </h1>
  <p class="p-6">
    Goal Oriented Software Engineer With
    <b>More Than Four Years Experience</b> In Software Development, Build And
    Maintained <b>Mobile</b> And <b>Web</b> Apps, Proficient With Building And
    Deploying Web Application Using <b>Python Django</b> And Angular, Familiar
    With <b>DevOps</b> and <b>Containerization using Docker</b> and
    Orchestration them using <b>Kubernetes</b>.
  </p>
</div>
